BODY
{
	color: #000000;
	background-color: #ffffff;
	border: 0px none #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: hide;
}

.PageFrame
{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 3px solid #ffffff; 
}

.DynamicContentFrame
{
	height: 100%;
	width: 100%;
	overflow:auto; 
	border: 2px solid #ffffff;
}

.HeaderRow
{
	border-style:solid;
	border-width: 0px;
	border-color: #ffffff
}

.EtchedTable
{
	border-style:solid;
	border-width:1px;
	border-color:#000000 #999999 #999999 #000000;
}

.infoTableHeader
{
	cursor : default;			
	background-color: #eeeeee;
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color : #000099;
	padding-left: 2px;
	text-align: left;
	border-right: 1px solid #999999;
}

.infoTableHeaderLast
{
	cursor : default;			
	background-color: #eeeeee;
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color : #000099;
	padding-left: 2px;
	text-align: left;
}

.infoTableCell
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	padding: 2px;
}

.LinkA
{
	color : #000000;
	text-align: left;
	width:	100%;
	color: #0000CC;
	text-decoration: underline;
}

.infoTableCellInner
{
	cursor : default; 
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	padding: 0px 2px;
}

.ContentArea
{
	border-style:solid;
	border-width: 2px 2px 0px 2px;
	border-color: #ffffff;
	height:100%;
	width:100%;
}

.BannerContentArea
{
	border-style:solid;
	border-width: 0px;
	border-color: #ffffff;
	height:100%;
	width:100%;
}

.LogoArea
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;	
	font-size: 80%;
	font-weight:bold;
	color: #000000;
	height: 25px;
	background-color: #eeeeee;	
}

.UsernameText
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: x-small;
	color: #000099;
	font-weight:bold;
	cursor: normal; 
}

.ProductArea
{
	background-color: #ffffff;
}

.ProductText
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: x-small;
	color: #000099;
	font-weight:bold;
	cursor: normal; 
	vertical-align: bottom;
}

.MenuArea
{
	background-color: #ffffff;
}

.MenuText
{
	cursor : hand; 
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: x-small;
	color: #0000CC;
	font-weight:normal;
	text-decoration: underline;
}

.MenuSpace
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: 70%;
	color: #0000CC;
	font-weight:normal;
}

.WelcomeArea
{
	color: #ffffff;
	background-color: #336699;
}

.WelcomeText
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif; 
	font-size: 100%;
	font-weight: bold;
	color: #ffffff;
	background-color: #336699;
	vertical-align: bottom;
}

.WelcomeDesc
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif; 
	font-size: 70%;
	font-weight:bold;
	color: #ffffff;
	background-color: #336699;
	vertical-align: top;
}

.FooterArea
{
	color: #ffffff;
	background: #336699;
	height: 25px;
}

.FooterText
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif; 
	font-size: 80%;
	font-weight:bold;
	color: #ffffff;
	background: #336699;
}	

.BaseFont
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	color: #000000;
	font-weight: normal;
}

.LayoutArea
{
	margin: 3px;
}

.StandardFont
{
	font-size: 70%;
}

.DialogTitle
{
	font-size: 70%;
	font-weight: bold;		
	color: #ffffff;	
}

.DialogTitleArea
{
	width: 100%;
	height: 21px;
	background-color: #99aacc;
	padding: 3px;
	border : 1px solid;
	border-color : #336699;
}

.DialogHintArea
{
	width: 100%;
	height: 21px;
	padding: 5px;
	border-style: solid;
	border-width: 0px 1px;
	border-color: #ffffff #cccccc;
}

.ControlLabel
{
	color: #003399;
	font-weight: bold;
}

.ControlLabelArea
{
	padding: 5px 0px 0px 0px;
}

.HintText
{
	color: #003399;
}

.DialogButtonBar
{
	background : #e7e7e7;
	border-style: solid;
	border-width: 1px;
	border-color: #bec8dc #cccccc #cccccc #cccccc;
	padding: 5px;
}

.DialogBody
{
	padding: 5px;
	border-style: solid;
	border-width: 0px 1px;
	border-color: #ffffff #cccccc;
}

.ButtonText
{
	font-size: 90%;
}

.CommandButtonNorm 
{
	width: 70px;
	height: 24px;
	overflow-x: visible;
	border : 1px solid #cccccc;
	background-color : #ffffff;
	padding: 3px,10px,3px,10px;
	cursor: hand;
}

.CommandButtonRoll 
{
	width: 70px;
	height: 24px;
	overflow-x: visible;
	border : 1px solid #99aacc;
	background-color : #bec8dc;
	padding: 3px,10px,3px,10px;
	cursor: hand;
}

.CommandButtonDep 
{
	width: 70px;
	height: 24px;
	overflow-x: visible;
	border : 1px solid #336699;
	background-color : #bec8dc;
	padding: 3px,10px,3px,10px;
	cursor: hand;
}

.CommandButtonDiabled 
{
	width: 70px;
	height: 24px;
	overflow-x: visible;
	border : 1px solid #cccccc;
	background-color : #ffffff;
	color : #999999;
	padding: 3px,10px,3px,10px;
	cursor: hand;
}

.ApplicationTableHeader
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size: 80%;
	background-color: #eeeeee;
	padding-left: 4px;
	text-align: left;
}
.ApplicationTableHeading
{
	font-size: x-small;
	font-weight: bold;
	color: #003399;	
}

.ApplicationTableCell
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	padding-top: 2px;
	font-weight: normal;
	padding: 4px;
}

.ApplicationShortCut
{
	font-size: 80%;
	color: blue;
	text-decoration: underline;
	cursor: hand;
}
.Access
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	height:24px;
	padding-top: 10px;
	font-size: 70%;
	font-weight: normal;
}
